# Private key of the deployment wallet
WALLET_PRIVATE_KEY=
# Free URLs of the blockchain networks
CRONOS_ZKEVM_URL="https://rpc-hyperchain-t0.cronos.org"
# Paid URLs of the blockchain networks
ETHEREUM_ROPSTEN_URL=
ETHEREUM_SEPOLIA_URL=
# Instruction for hardhat to use the gas reporter when running tests
REPORT_GAS="true"
# Coinmarketcap API key - this is used to calculate the transaction costs in USD when running tests
COINMARKETCAP_API=
# Block explorer API keys - this is used to verify the contract source code on the block explorer
ETHERSCAN_API_KEY=
CRONOS_EXPLORER_MAINNET_API_KEY=
CRONOS_EXPLORER_TESTNET_API_KEY=
CRONOSCAN_API_KEY=
CRONOSCAN_TESTNET_API_KEY=
# L1 and L2 token addresses
CRO_L1_ADDRESS="0x1c815aca8daacdf46805fbFB9F08abD1D614773D"
CRO_L2_ADDRESS="0x000000000000000000000000000000000000800a"
ERC20_L1_ADDRESS="0x9a39dE1b13bDFB685787ADA694F27c1b6703ebfB"
ERC20_L2_ADDRESS="0x9b1b63c1FD9856eB708bE582C0816d9C415CCFb0"
BRIDGE_ERC20_L1_PROXY_ADDRESS="0x8bb7db7A4b3fFb4f821a9C6F64C656165aeda3c7"
ZKSYNC_DIAMOND_PROXY_ADDRESS="0x08A064F0c455Df1806Fb02425f2C31fAFc187979"
